<div class="carousel-inner">
  <% product.images.each_with_index do |image, i| %>
    <div class="item <%= "active" if i.zero? %>" data-thumb="<%= i %>">
      <%= image_tag(image.attachment(:large)) %>
    </div>
  <% end %>  
</div>