<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <div class="main-wrapper">
      <!-- HEADER -->
      <%= render 'layouts/header' %>
      <%= yield %>
      <!-- FOOTER -->
      <%= render 'layouts/footer' %>
    </div>
    <!-- LOGIN MODAL -->
    <%= render 'layouts/login_modal' %>
    <!-- SIGN UP MODAL -->
    <%= render 'layouts/signup_modal' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
